<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>990700836288-oj91fekjusntg71i36ocm3parfn82g5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990700836288-oj91fekjusntg71i36ocm3parfn82g5f</string>
	<key>API_KEY</key>
	<string>AIzaSyBLMKXZN1wkAyLT8m-0Y6Y9sYegIbLJ6xM</string>
	<key>GCM_SENDER_ID</key>
	<string>990700836288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flappybird.ios</string>
	<key>PROJECT_ID</key>
	<string>flappybird-aa5a0</string>
	<key>STORAGE_BUCKET</key>
	<string>flappybird-aa5a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990700836288:ios:c5c4895d8de2a30d</string>
	<key>DATABASE_URL</key>
	<string>https://flappybird-aa5a0.firebaseio.com</string>
</dict>
</plist>